<?xml version="1.0" encoding="utf-8"?>
<opendataxml xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.opengovdata.ru/0.1/opendataxml.xsd">
	<data>
		<table>
		</table>
	</data>
</opendataxml>