{% extends "base2cols.html" %}
{% load digg_paginator %}

{% block title %}OpenGovData.ru. О проекте.{% endblock %}
{% block col1 %}
<h2>О проекте</h2>
<p>
<b>OpenGovData.ru</b> - это некоммерческий проект посвящённый доступности информации раскрываемой государством для его граждан. Не секрет что очень часто, несмотря на требуемую законодательством и заявляемую доступность информации, на самом деле найти её сложно или же способы её публикации в сети столь неудобны что публикуемыми материалами пользоваться невозможно. 
</p>
{% endblock %}

{% block col3 %}
<h3>Навигация</h3>
<p><a href="/about/">О проекте</a></p>
{% endblock %}
