{% extends "base2cols.html" %}
{% load main_menu %}
{% block menu %}{% main_menu 'opendata'%}{% endblock %}
{% block title %}OpenGovData.Ru. {{object.name}}{% endblock %}
{% block col1 %}
<h2>{{object.name}}</h2>
<!-- About this dataset   --> 
<p id="descript"> 
    <h3 class="body-section-title" id="about">Описание данных</h3> 
    <p>{{object.description}}</p>
</p>

<p id="formatsdesc"> 
	<h3 class="body-section-title" id="formats">Форматы</h3> 
	<p>{% for f in object.formats.values %}<span style="margin-left:4px">{{f.name}}</span>{% endfor %}
	</p>
</p>


<p id="urlsdesc"> 
	<h3 class="body-section-title" id="formats">Ссылки</h3> 
	<p>
	<span style="font-style:bold">Спецификация:</span><br/>&nbsp;<a href="{{object.opendata_url}}">{{object.opendata_url}}</a><br/>
	<br/>
	{% if object.location_url %}
	<span style="font-style:bold">Постоянная ссылка:</span><br/>&nbsp;<a href="{{object.location_url}}">{{object.location_url}}</a>
	{% endif %}
	</p>
</p>

<p id="filesdesc"> 
	<h3 class="body-section-title" id="files">Файлы</h3> 
	<table>
	<tr>
	    <th>Формат</th>
	    <th>Дата обновления</th>
	    <th>Ссылка</th>
	</tr>
	<tbody>
	{% for f in object.files%}
	<tr>
	<td><a href="{{f.urlpath}}">{{f.format.name}}</a></td>
	<td>{{f.date_updated}}</td>
	<td><a href="{{f.urlpath}}">{{f.urlpath}}</a></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</p>


<p id="fieldsdesc"> 
	<h3 class="body-section-title" id="fields">Поля</h3> 
	<table>
	<tr>
	    <th>Номер</th>
	    <th>ID</th>
	    <th>Название</th>
	    <th>Описание</th>
	    <th>Уникальность</th>	    
	    <th>Тип</th>
	</tr>
	<tbody>
	{% for f in object.fields%}
	<tr>
	<td>{{f.num}}</td>
	<td>{{f.key}}</td>
	<td>{{f.name}}</td>
	<td>{{f.description}}</td>
	<td>{% ifequal f.is_unique 0%}Нет{%else%}Да{%endifequal%}</td>
	<td>{{f.field_type.name}}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</p>


<p id="langdesc"> 
	<h3 class="body-section-title" id="language">Язык</h3> 
	<p>{{object.language}}</p>
</p>

{% if object.organization %}
<p id="orgdesc"> 
	<h3 class="body-section-title" id="language">Ответственная организация</h3> 
	<p>{{object.organization.name}} (<a href="{{object.organization.website}}">{{object.organization.website}}</a>)</p>
	<p><b>Описание организации:</b> {{object.organization.description}}</p>
</p>
{% endif %}

<p id="datesdesc"> 
    <h3 class="body-section-title" id="dates_txt">Даты</h3> 
    <p>
	<span style="font-style:bold">Дата внесения:</span><span style="margin-left:1em;">{{object.date_created}}</span><br/>
	<span style="font-style:bold">Дата обновления:</span><span style="margin-left:1em;">{{object.date_updated}}</span>
    </p>
</p>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/opengovdataru/embed.js"></script><noscript><a href="http://opengovdataru.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
{% block endpage %}
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
		var query = '?';
			for(var i = 0; i < links.length; i++) {
				if(links[i].href.indexOf('#disqus_thread') >= 0) {
						query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
							}
								}
									document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/opengovdataru/get_num_replies.js' + query + '"></' + 'script>');
									})();
									//]]>
									</script>
{% endblock %}
{% block col3 %}
<h3>Навигация</h3>
<p><a href="/opendata/">вернуться к списку массивов данных</a></p>
<h3>Помочь проекту</h3>
<p>Вы можете принять участие в проекта присоединяясь к <a href="http://groups.google.com/group/opengovdataru">сообществу проекта</a>.</p>
{% endblock %}